<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>GetPlayerController</servlet-name>
  	<display-name>GetPlayerController</display-name>
  	<description></description>
  	<servlet-class>com.maven.web.GetPlayerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddPlayerController</servlet-name>
  	<display-name>AddPlayerController</display-name>
  	<description></description>
  	<servlet-class>com.maven.web.AddPlayerController</servlet-class>
  </servlet>
 
  <servlet-mapping>
  	<servlet-name>GetPlayerController</servlet-name>
  	<url-pattern>/getPlayer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddPlayerController</servlet-name>
  	<url-pattern>/addPlayer</url-pattern>
  </servlet-mapping>
</web-app>
